body{
    box-sizing: border-box;
}

form{
    display: none;
}

nav a{
    text-decoration: underline;
    color: rgb(77, 77, 226);
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    padding: 12px 0;
}

.links a{
    color: white;
    margin-right: 15px;
    margin-bottom: 0;
}

.username{
    text-transform: capitalize;
}

main{
    text-align: center;
}

.calcCalory, .get-calory, .cancel{
    outline:none;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}

.cancel{
    background-color: red;
}

#qty1, #qty2, #qty3, #qty4 {
    width: 50px;
}

.btn-wrap{
margin-top: 20px;
display: flex;
justify-content: flex-end;
}

.btn-wrap button{
    margin-left: 12px;
}

.table-wrapper, .meal-history{
    display: none;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.meal-data{
    display: none;
}

.meal-history{
    display: block;
}

.meal-history table{
    margin-bottom: 20px;
    margin: 0 auto 20px auto
}

#result{
    width: 100%;
}

td, th{
    padding: 6px 10px;
    text-align: left;
}

.show-calory{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show-calory h2{
    margin-right: 10px;
}

.show-calory p{
margin: 0;
}

form{
    max-width: 300px;
    width: 100%;
    margin: 20px auto 0 auto;
    background-color: black;
    padding: 0 30px;
    color: white;
    border-radius: 12px;
    border: 2px solid rgb(36, 35, 35)
}

form > div{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

form label{
    width: 115px;
}

form input{
    flex: 1;
    height: 20px;
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
